$mdc-theme-primary: #000000;
$mdc-theme-secondary: #cccccc;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #444444;

@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/snackbar/mdc-snackbar";
@import "@material/card/mdc-card";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  height: 100vh;
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 20px;
  box-sizing: border-box;
  color: wheat;
}

.app-bar {
  position: absolute;
}

.mdc-list-item__graphic {
  color: var(--mdc-theme-text-icon-on-background,rgb(255,255,255));
}

a:-webkit-any-link {
  text-decoration: none;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}